<%- include('block_inicio') %>
<%- include('barra_menu') %>
<div class="container">
    
  
  <!--Resto dispositivos-->
  <div class="row d-none d-sm-block">
    <br><br>
    <div class="row d-flex justify-content-center" >
      <h2>CARGAR CRITERIOS</h2>
    </div>
    <br><br>
    <div class="row p-2 white" style="background: rgb(46, 71, 117); border-radius: 20px;">
      <div class="col">
       <h5 id="curso" cur=<%=curso%>>CURSO: <%=curso%></h5>
       <h5 id="idmateria" mat=<%=id_materia%>>MATERIA: <%=materia%></h5>
      </div>
    </div>

    <!--Criterio1-->
    <br><br>
    <div class="row">
      <div class="col" style="border: 3px solid grey;">
        <h4 class="p-2">COMPRENSIÓN LECTORA</h4>
        <p class="criterio">CRITERIO: Interpreta diferentes tipos de textos, en diversos formatos.</p>
        
        <div class="row">
          
          <div style="width: 25%; background:#eeeeee">
            <ul id="list_students" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list2" class="mt-3">
              <li class="title">ALTAMENTE LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div  style="width: 20%; background:#eeeeee">
            <ul id="list3" class="mt-3">
              <li class="title">LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list4" class="mt-3">
              <li class="title">EN PROCESO</li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>

    <!--Criterio2-->
    <br>
    <div class="row">
      <div class="col" style="border: 3px solid grey;">
        <h4 class="p-2">COMPRENSIÓN LECTORA</h4>
        <p class="criterio">CRITERIO: Identifica ideas principaies y secundarias de un texto.</p>
        
        <div class="row">
          
          <div style="width: 25%; background:#eeeeee">
            <ul id="list_students2" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list5" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div  style="width: 20%; background:#eeeeee">
            <ul id="list6" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list7" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>

    <!--Criterio3-->
    <br>
    <div class="row">
      <div class="col" style="border: 3px solid grey;">
        <h4 class="p-2">COMPRENSIÓN LECTORA</h4>
        <p class="criterio">CRITERIO: Estabiece relaciones entre ideas y/o conceptos respecto de un teme.</p>
        
        <div class="row">
          
          <div style="width: 25%; background:#eeeeee">
            <ul id="list_students3" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list8" class="mt-3">
              <li class="title">ALTAMENTE LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div  style="width: 20%; background:#eeeeee">
            <ul id="list9" class="mt-3">
              <li class="title">LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list10" class="mt-3">
              <li class="title">EN PROCESO</li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
    
    <!--Criterio4-->
    <br>
    <div class="row">
      <div class="col" style="border: 3px solid grey;">
        <h4 class="p-2">COMPRENSIÓN LECTORA</h4>
        <p class="criterio">CRITERIO: Comprende consignas orales y escritas.</p>
        
        <div class="row">
          
          <div style="width: 25%; background:#eeeeee">
            <ul id="list_students4" class="mt-3">
              <li class="title">ALUMNOS</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list11" class="mt-3">
              <li class="title">ALTAMENTE LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div  style="width: 20%; background:#eeeeee">
            <ul id="list12" class="mt-3">
              <li class="title">LOGRADO</li>
            </ul>
          </div>

          <div style="width: 20px;"></div>

          <div style="width: 20%; background:#eeeeee">
            <ul id="list13" class="mt-3">
              <li class="title">EN PROCESO</li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>

    

  </div>




  <br><br>
  <button id="btn" class="btn btn-primary">Cargar</button>
</div>
<br><br>
<%- include('block_end') %>


<style>
.item{
  background: rgb(158, 156, 156);
  height: 50px;
  margin: 3px;
  padding: 2px;
}
.title{
  background:grey;
  text-align: center;
  color: white;
  margin: 3px;
  padding: 2px;
}
.criterio{
  color: blue;
  font-size: 16px;
}
</style>

<script>
let list_students = document.getElementById('list_students')
let list_students2 = document.getElementById('list_students2')
let list_students3 = document.getElementById('list_students3')
let list_students4 = document.getElementById('list_students4')
let list2 = document.getElementById('list2')
let list3 = document.getElementById('list3')
let list4 = document.getElementById('list4')
let list5 = document.getElementById('list5')
let list6 = document.getElementById('list6')
let list7 = document.getElementById('list7')
let list8 = document.getElementById('list8')
let list9 = document.getElementById('list9')
let list10 = document.getElementById('list10')
let list11 = document.getElementById('list11')
let list12 = document.getElementById('list12')
let list13 = document.getElementById('list13')
let btn = document.getElementById('btn')
var materia = document.getElementById('idmateria')
var curso = document.getElementById('curso')
var arr = []

window.onload = () => {
  $.ajax({
    type:'GET',
    url:'/getstudents',
    //data:{obj}
    }).done(async function(res){
      $.each(res,function(key,val){
        $('#list_students').append(`
        <li class="item white" id=${val._id} >${val.last_name + ' '+ val.name}</li>
        `)
        $('#list_students2').append(`
        <li class="item white" id=${val._id} >${val.last_name + ' '+ val.name}</li>
        `)
        $('#list_students3').append(`
        <li class="item white" id=${val._id} >${val.last_name + ' '+ val.name}</li>
        `)
        $('#list_students4').append(`
        <li class="item white" id=${val._id} >${val.last_name + ' '+ val.name}</li>
        `)

      })
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })
}//end



btn.onclick = () => {
  event.preventDefault()
 /*if(Validacion() == false){
  return false
 }*/

 Criterio1(arr, curso.getAttribute('cur'), materia.getAttribute('mat'))
 Criterio2(arr, curso.getAttribute('cur'), materia.getAttribute('mat'))
 Criterio3(arr, curso.getAttribute('cur'), materia.getAttribute('mat'))
 Criterio4(arr, curso.getAttribute('cur'), materia.getAttribute('mat'))
 

    $.ajax({
    type:'POST',
    url:'/addcriterios',
    data:{arr}
    }).done(async function(res){
      toastr.success('SE CARGO CORRECTAMENTE...', '¡OK!', { timeOut: 3000 })
      await sleep(2000)
      window.location.href = '/showpagecriterio'
    }).fail(async function(err){
      toastr.error('La Operacion NO Pudo Resolverse...', 'ERROR', { timeOut: 3000 })
      await sleep(2000)
      window.location.reload()
    })

}//end


function Validacion(){
  let c=0
  let c2=0
  let c3=0
  let c4=0
  $("#list_students li").each(function(){
    c++
  })
  $("#list_students2 li").each(function(){
    c2++
  })
  $("#list_students3 li").each(function(){
    c3++
  })
  $("#list_students4 li").each(function(){
    c4++
  })
  if(c != 1 || c2 !=1 || c3 !=1 || c4 !=1){
    alert('ATENCIÓN: DEBE CALIFICAR A TODOS LOS ALUMNOS...')
    return false
  }
}//end

function Criterio1(arr,curso,materia){
  let id_criterio = '5fce5d4f79334c6ce8b7cbdd'
  
  $("#list2 li").each(function(){
      if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
      }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Altamaente Logrado', nota:''})
      }
  });
  $("#list3 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Logrado', nota:''})
    }
  });
  $("#list4 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'En Proceso', nota:''})
    }
  });
  console.log(arr.length)
}//end

function Criterio2(arr,curso,materia){
  let id_criterio = '5fce5d7879334c6ce8b7cbde'

  $("#list5 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Altamaente Logrado', nota:''})
    }
  });
  $("#list6 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Logrado', nota:''})
    }
  });
  $("#list7 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'En Proceso', nota:''})
    }
  });
}//end

function Criterio3(arr,curso,materia){
  let id_criterio = '5fce5d9979334c6ce8b7cbdf'

  $("#list8 li").each(function(){
      if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
      }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Altamaente Logrado', nota:''})
      }
  });
  $("#list9 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Logrado', nota:''})
    }
  });
  $("#list10 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'En Proceso', nota:''})
    }
  });
}//end

function Criterio4(arr,curso,materia){
  let id_criterio = '5fce5db779334c6ce8b7cbe0'

  $("#list11 li").each(function(){
      if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
      }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Altamaente Logrado', nota:''})
      }
  });
  $("#list12 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'Logrado', nota:''})
    }
  });
  $("#list13 li").each(function(){
    if( $(this).hasClass('title') ){
        arr.push({id_criterio:'', id_alumno:'', value:'', nota:''})
    }else{
        arr.push({id_materia:materia, curso:curso, id_criterio, id_alumno:$(this).attr('id'), value:'En Proceso', nota:''})
    }
  });
}//end






new Sortable(list_students, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
    filter:'.title'
});
new Sortable(list_students2, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
    filter:'.title'
});
new Sortable(list_students3, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
    filter:'.title'
});
new Sortable(list_students4, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
    filter:'.title'
});
new Sortable(list2, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,   
});
new Sortable(list3, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150, 
});
new Sortable(list4, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list5, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list6, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list7, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list8, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list9, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list10, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list11, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list12, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});
new Sortable(list13, {
    group: {
        name: 'shared',
        pull:true,
        put:true
    },
    animation: 150,
});







</script>